<br><h1 style="text-align:center;">User Details</h1>
<br><br><br>
<ul class="list-group list-group-flush">
<li class="list-group-item">User ID : {{user? user?.userId : 'Please enter a user ID'}}</li>
<li class="list-group-item">User Name : {{user?.name}}</li>
<li class="list-group-item">Phone Number : {{user?.phone}}</li>
<li class="list-group-item">Contact ID : {{user?.contacts[0].cId}}</li>
<li class="list-group-item">Email : {{user?.contacts[0].email}}</li>
<li class="list-group-item">Contact Name : {{user?.contacts[0].contactName}}</li>
</ul>